# Python
*.pyc
*.pyo
__pycache__
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
.env/

# Django
*.log
*.pot
*.pyc
*.pyo
__pycache__
db.sqlite3
media/
static/
*.bak
*.swp
.tox/
.coverage

# IDEs and text editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# macOS
.DS_Store

# Windows
Thumbs.db
